export XDG_CURRENT_DESKTOP="i3"
export XDG_SESSION_TYPE="x11"
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_STATE_HOME="$HOME/.local/state"

export PATH="$HOME/bin:$PATH"
export NVM_DIR="$([ -n "${XDG_CONFIG_HOME-}" ] && printf %s "${XDG_CONFIG_HOME}/nvm" || printf %s "${HOME}/.nvm")"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"

export EDITOR=nvim
export BROWSER=brave
export TERMINAL=alacritty
export TERM=alacritty
export EXPLORER=Thunar

export QT_QPA_PLATFORMTHEME=gtk3
export QT_SCREEN_SCALE_FACTORS=1
export QT_AUTO_SCREEN_SCALE_FACTOR=1
export QT_ENABLE_HIGHDPI_SCALING=1
export GDK_SCALE=1
export GDK_DPI_SCALE=1
export GTK_USE_PORTAL=1
